/* Base Element Styles */

* {
    box-sizing: border-box;
}


body {
   background-color: #ffffff;
   font-family: 'Open Sans', sans-serif;
   margin: 0px;

}

a {
    text-decoration: none;
}
.portfolio-block {
    background-color: #F8F8F8;
    text-align
}

.portfolio-heading {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 0;
}

h1 {
   text-align: center;
   margin: 0px;
   padding-top: 10px;
}

h2 {
    text-align: center;
}

p {
   text-align: center;
   color: gray;
   padding-top: 10px;
   padding-bottom: 30px;
   padding-right: 15px;
   padding-left: 15px;
}

nav ul {
    list-style: none;
    padding-left: 15px;
    padding-right: 15px;
}

nav a {
    display: block;s
    text-align: center;
    text-transform: uppercase;
    color: black;
    background-color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: bold;
    margin: 5px;
}

footer {
    background-color: #F8F8F8;
    padding-top: 30px;
}

footer p {
    padding: 5px;

}

footer h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

footer a {
    color: gray;
    font-weight: bold;
}

footer nav ul {
    list-style: center;
    padding-left: -15px;
    padding-right: 165px;
    background-color: #F8F8F8; 
    text-align: center;
}

.footer-name {
    margin: 0px;
    padding: 10px;
    float: left;
    background-color: #F8F8F8;
}

.footer-top {
    margin: 0px;
    padding: 10px;
    float: right;
    background-color: #F8F8F8;
}

.footer-nav {
    background-color: #F8F8F8;
    overflow: auto;
}
/* Media Queries: Mobile ----- */

@media (min-width: 320px) {

    .portfolio-block, .portfolio-content {
        text-align: center;
    }

    .images {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%
    }

    .student-portrait {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%
    }
}

/* Media Queries: Tablet ----- */

@media (min-width: 768px) {

/* testing for changes
    .images {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        float: left;
    }
*/
.portfolio-block {
    background-color: #F8F8F8;
    text-align
}
    nav ul {
        list-style: none;
        display: block;
        margin: auto;
    }
    
    nav a {
        text-transform: uppercase;
        color: black;
        background-color:  #F8F8F8;
        padding: 12px;
        font-weight: bold;
        margin: 5px;
        float: left;
    }

}