/* Base Element Styles */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
   background-color: #ffffff;
   font-family: 'Open Sans', sans-serif;
   margin: 0px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
}

.portfolio-block {
    background-color: #F8F8F8;
    text-align
}

.portfolio-heading {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 0;
}

h1 {
   text-align: center;
   margin: 0px;
   padding-top: 10px;
}

h2 {
    text-align: center;
    font-size: 20px;
}

p {
   text-align: center;
   color: gray;
   padding-top: 10px;
   padding-bottom: 30px;
   padding-right: 15px;
   padding-left: 15px;
}

nav ul {
    list-style: none;
    padding-left: 15px;
    padding-right: 15px;
}

nav a {
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: black;
    background-color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: bold;
    margin: 5px;
}

footer {
    position: absolute;
    width: 100%;
    background-color: #F8F8F8;
}

footer p {
    padding: 5px;

}

footer h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

footer a {
    color: gray;
    font-weight: bold;
}

footer nav ul {
    list-style: none;
    padding-left: -15px;
    padding-right: 165px;
    background-color: #F8F8F8; 
    text-align: center;
}

.footer-name {
    margin: 0px;
    padding: 10px;
    float: left;
    background-color: #F8F8F8;
}

.footer-top {
    margin: 0px;
    padding: 10px;
    float: right;
    background-color: #F8F8F8;
}

.footer-nav {
    background-color: #F8F8F8;
    overflow: auto;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

/* Media Queries: Mobile ----- */

@media (min-width: 320px) {

    .portfolio-block, .portfolio-content {
        text-align: center;
    }

    .images {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%
    }

    .student-portrait {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%
    }
}

    .footer-tablet {
        display: none;
    }

/* Media Queries: Tablet ----- */

@media (min-width: 768px) {

    header {
        content: "";
        display: table;
        clear: both; 
    }

    nav ul {
        content: "";
        display: table;
        clear: both;
        margin-left: 200px;
        
    }
    
    nav ul li {
        float: left;
    }

    nav a {
        text-transform: uppercase;
        color: black;
        background-color:  #F8F8F8;
        padding: 12px;
        font-weight: bold;
        margin: 5px;
    }

    .portfolio-block {
        text-align: left;
        content: "";
        display: table;
        clear: both;
    }

    .student-portrait {
        width: 45%;
        float: right;
        padding: 15px;

    }

    .column-one {
        float:left;
        width: 50%;
    
    }

    .column-two {
        float: right;
        width: 50%;
    }

    h2 {
        font-size: 18px;
    }

    p {
        margin-right: 10px;
        margin-left: 10px;
    }

    footer {
        content: "";
        display: table;
        clear: both;
    }

    footer nav {
        content: "";
        float: left;
        clear: both;
    }
    
    .footer-top {
        display: none;
    }

    .footer-tablet {
        border: 1px red solid;
        display: block;
        float: left;
    }
}

/* Media Queries: Desktop ----- */

@media (min-width: 1024px) {

h1 {
    text-align: left;
    float: left;
    padding: 25px;
    display: inline-block;
    border: solid 1px red;
}

.student-portrait {
    width: 40%;
    float: right;
    padding: 35px;

}

.portfolio-block,
p                {
    text-align: left;
    margin: 20px;
    width: 90%;
    border: solid 1px red;
    display: block;
}

nav ul {
    content: "";
    display: table;
    clear: both;
    border: solid 1px red;
    display: inline-block;
    font-size: 12px;
    padding: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

nav a {
    text-transform: uppercase;
    color: black;
    background-color:  #F8F8F8;
    padding: 12px;
    font-weight: bold;
    margin: 5px;
    font-style: bold;
}

body {
    background-color: #F8F8F8;
}

.portfolio-content {
    background-color: white;
}

}